In [1]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [2]:
#Function to convert csv files to dataframes
def process_df(paths: list):
    Dataframes = {}
    for path in paths:
        #os.path.basename(path) gets the file name from the full directory ex. 'dailyActivity_merged.csv' split text separates the name from the '.csv' and [0] takes the first element which is just the name
        name = os.path.splitext(os.path.basename(path))[0] 
        try:
            df = pd.read_csv(path)
            Dataframes[name] = df
        except Exception as e:
            print(f"Failed to process {name}", e)

    return Dataframes
#preliminary clean up
def Quick_df_Check(name: str, df: pd.DataFrame):
    try:
        print(f"---{name}--- \n")
        display(df.head())
        print('-----info-----')
        print(df.info())
        print('-----duplicated-----')
        print(df.duplicated().sum())
        print('-----isnull-----')
        print(df.isnull().sum())
        print('-----isNa-----')
        print(df.isna().sum())
    except Exception as e:
        print(f"Failed to quick check dataframe", e)

In [3]:
#Build custom dataframes functions
def build_Daily_Log(dataframe: pd.DataFrame):
    try:
        src = dataframe
        #ensuring datetime
        src['ActivityDate'] = pd.to_datetime(src['ActivityDate'], errors = 'coerce')
        src['ActivityDate'] = src['ActivityDate'].dt.date
        src['TotalDistance'] = src['TotalDistance'].round(2)
        df = src[['Id','ActivityDate','TotalSteps','TotalDistance','VeryActiveDistance','ModeratelyActiveDistance','LightActiveDistance','VeryActiveMinutes','FairlyActiveMinutes','LightlyActiveMinutes','SedentaryMinutes','Calories']].drop_duplicates()
        #df = df.set_index(['Id', 'ActivityDate'])
    except Exception as e:
        print(f"Failed to build {dataframe}", e)
    
    return df
    

def build_Sleep_Log(dataframe: pd.DataFrame):
    try:
        src = dataframe
        #this was breaking the code because SleepDay is a string/object so dt.normalize raises an error
        src['SleepDay'] = pd.to_datetime(src['SleepDay'],errors='coerce')
        src['Date'] = src['SleepDay'].dt.date
        df = src[['Id','Date','TotalMinutesAsleep','TotalTimeInBed']].drop_duplicates().rename(columns={'TotalMinutesAsleep':'MinutesAsleep','TotalTimeInBed':'TimeInBed'}) 

    except Exception as e:
        print(f"Failed to build {dataframe}", e)
        
    return df

def build_Weight_Log(dataframe: pd.DataFrame):
    try:
        src = dataframe
        src['Date'] = pd.to_datetime(src['Date'], errors ='coerce')
        src['Date'] = src['Date'].dt.date
        src['WeightPounds'] = src['WeightPounds'].round(2)
        src['BMI'] = src['BMI'].round(2)
        df = src[['Id','Date','WeightPounds','BMI']].drop_duplicates()

    except Exception as e:
        print(f"Failed to build {dataframe}", e)
    
    return df
    

def build_Heartrate_Log(dataframe: pd.DataFrame):
    try:
        src = dataframe
        src['Time'] = pd.to_datetime(src['Time'], errors ='coerce')
        src['Date'] = src['Time'].dt.date
        df = src[['Id','Date','Time','Value']].drop_duplicates().rename(columns={'Value':'Heartrate'})

    except Exception as e:
        print(f"Failed to build {dataframe}", e)
    
    return df

def build_Hourly_Intensity_Log(dataframe: pd.DataFrame):
    try:
        src = dataframe
        src['ActivityHour'] = pd.to_datetime(src['ActivityHour'], errors = 'coerce')
        src['Date'] = src['ActivityHour'].dt.date
        #excluding rows with zero intensity src = src[mask], boolean mask: src['TotalIntensity'] != 0
        src = src[src['TotalIntensity'] != 0]
        df = src[['Id','Date','ActivityHour','TotalIntensity']].drop_duplicates().rename(columns={'TotalIntensity':'Intensity'})

    except Exception as e:
        print(f"Failed to build {dataframe}", e)

    return df

In [4]:
#looping through all csv files
notebooks_dir = os.getcwd() #cwd = current working directory
data_dir = os.path.abspath(os.path.join(notebooks_dir, '..','Data','Fitbase_Data')) #getting the absolute path for data_dir

#checks
if not os.path.isdir(data_dir):
    raise FileNotFoundError(f"Directory not found: {data_dir}")

#getting all CSVs
csv_paths = sorted(glob.glob(os.path.join(data_dir, '*.csv')))

#check
if not csv_paths:
    raise FileNotFoundError(f"No CSV files found in {data_dir}")

#double checking type
print(type(csv_paths))

<class 'list'>

In [5]:
#pass in csv_paths list into function that creates the dataframes
Dataframes = process_df(csv_paths)
for name, df in Dataframes.items():
    print("-----------------------------------------------------------")
    print(f"{name}")
    print("-----------------------------------------------------------")
    print(df.info())

-----------------------------------------------------------
dailyActivity_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB
None
-----------------------------------------------------------
dailyCalories_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           940 non-null    int64
 1   ActivityDay  940 non-null    object
 2   Calories     940 non-null    int64
dtypes: int64(2), object(1)
memory usage: 22.2+ KB
None
-----------------------------------------------------------
dailyIntensities_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDay               940 non-null    object
 2   SedentaryMinutes          940 non-null    int64
 3   LightlyActiveMinutes      940 non-null    int64
 4   FairlyActiveMinutes       940 non-null    int64
 5   VeryActiveMinutes         940 non-null    int64
 6   SedentaryActiveDistance   940 non-null    float64
 7   LightActiveDistance       940 non-null    float64
 8   ModeratelyActiveDistance  940 non-null    float64
 9   VeryActiveDistance        940 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 73.6+ KB
None
-----------------------------------------------------------
dailySteps_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           940 non-null    int64
 1   ActivityDay  940 non-null    object
 2   StepTotal    940 non-null    int64
dtypes: int64(2), object(1)
memory usage: 22.2+ KB
None
-----------------------------------------------------------
heartrate_seconds_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB
None
-----------------------------------------------------------
hourlyCalories_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            22099 non-null  int64
 1   ActivityHour  22099 non-null  object
 2   Calories      22099 non-null  int64
dtypes: int64(2), object(1)
memory usage: 518.1+ KB
None
-----------------------------------------------------------
hourlyIntensities_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                22099 non-null  int64
 1   ActivityHour      22099 non-null  object
 2   TotalIntensity    22099 non-null  int64
 3   AverageIntensity  22099 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 690.7+ KB
None
-----------------------------------------------------------
hourlySteps_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            22099 non-null  int64
 1   ActivityHour  22099 non-null  object
 2   StepTotal     22099 non-null  int64
dtypes: int64(2), object(1)
memory usage: 518.1+ KB
None
-----------------------------------------------------------
minuteCaloriesNarrow_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Calories        1325580 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.3+ MB
None
-----------------------------------------------------------
minuteCaloriesWide_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  object
 2   Calories00    21645 non-null  float64
 3   Calories01    21645 non-null  float64
 4   Calories02    21645 non-null  float64
 5   Calories03    21645 non-null  float64
 6   Calories04    21645 non-null  float64
 7   Calories05    21645 non-null  float64
 8   Calories06    21645 non-null  float64
 9   Calories07    21645 non-null  float64
 10  Calories08    21645 non-null  float64
 11  Calories09    21645 non-null  float64
 12  Calories10    21645 non-null  float64
 13  Calories11    21645 non-null  float64
 14  Calories12    21645 non-null  float64
 15  Calories13    21645 non-null  float64
 16  Calories14    21645 non-null  float64
 17  Calories15    21645 non-null  float64
 18  Calories16    21645 non-null  float64
 19  Calories17    21645 non-null  float64
 20  Calories18    21645 non-null  float64
 21  Calories19    21645 non-null  float64
 22  Calories20    21645 non-null  float64
 23  Calories21    21645 non-null  float64
 24  Calories22    21645 non-null  float64
 25  Calories23    21645 non-null  float64
 26  Calories24    21645 non-null  float64
 27  Calories25    21645 non-null  float64
 28  Calories26    21645 non-null  float64
 29  Calories27    21645 non-null  float64
 30  Calories28    21645 non-null  float64
 31  Calories29    21645 non-null  float64
 32  Calories30    21645 non-null  float64
 33  Calories31    21645 non-null  float64
 34  Calories32    21645 non-null  float64
 35  Calories33    21645 non-null  float64
 36  Calories34    21645 non-null  float64
 37  Calories35    21645 non-null  float64
 38  Calories36    21645 non-null  float64
 39  Calories37    21645 non-null  float64
 40  Calories38    21645 non-null  float64
 41  Calories39    21645 non-null  float64
 42  Calories40    21645 non-null  float64
 43  Calories41    21645 non-null  float64
 44  Calories42    21645 non-null  float64
 45  Calories43    21645 non-null  float64
 46  Calories44    21645 non-null  float64
 47  Calories45    21645 non-null  float64
 48  Calories46    21645 non-null  float64
 49  Calories47    21645 non-null  float64
 50  Calories48    21645 non-null  float64
 51  Calories49    21645 non-null  float64
 52  Calories50    21645 non-null  float64
 53  Calories51    21645 non-null  float64
 54  Calories52    21645 non-null  float64
 55  Calories53    21645 non-null  float64
 56  Calories54    21645 non-null  float64
 57  Calories55    21645 non-null  float64
 58  Calories56    21645 non-null  float64
 59  Calories57    21645 non-null  float64
 60  Calories58    21645 non-null  float64
 61  Calories59    21645 non-null  float64
dtypes: float64(60), int64(1), object(1)
memory usage: 10.2+ MB
None
-----------------------------------------------------------
minuteIntensitiesNarrow_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Intensity       1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB
None
-----------------------------------------------------------
minuteIntensitiesWide_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  object
 2   Intensity00   21645 non-null  int64
 3   Intensity01   21645 non-null  int64
 4   Intensity02   21645 non-null  int64
 5   Intensity03   21645 non-null  int64
 6   Intensity04   21645 non-null  int64
 7   Intensity05   21645 non-null  int64
 8   Intensity06   21645 non-null  int64
 9   Intensity07   21645 non-null  int64
 10  Intensity08   21645 non-null  int64
 11  Intensity09   21645 non-null  int64
 12  Intensity10   21645 non-null  int64
 13  Intensity11   21645 non-null  int64
 14  Intensity12   21645 non-null  int64
 15  Intensity13   21645 non-null  int64
 16  Intensity14   21645 non-null  int64
 17  Intensity15   21645 non-null  int64
 18  Intensity16   21645 non-null  int64
 19  Intensity17   21645 non-null  int64
 20  Intensity18   21645 non-null  int64
 21  Intensity19   21645 non-null  int64
 22  Intensity20   21645 non-null  int64
 23  Intensity21   21645 non-null  int64
 24  Intensity22   21645 non-null  int64
 25  Intensity23   21645 non-null  int64
 26  Intensity24   21645 non-null  int64
 27  Intensity25   21645 non-null  int64
 28  Intensity26   21645 non-null  int64
 29  Intensity27   21645 non-null  int64
 30  Intensity28   21645 non-null  int64
 31  Intensity29   21645 non-null  int64
 32  Intensity30   21645 non-null  int64
 33  Intensity31   21645 non-null  int64
 34  Intensity32   21645 non-null  int64
 35  Intensity33   21645 non-null  int64
 36  Intensity34   21645 non-null  int64
 37  Intensity35   21645 non-null  int64
 38  Intensity36   21645 non-null  int64
 39  Intensity37   21645 non-null  int64
 40  Intensity38   21645 non-null  int64
 41  Intensity39   21645 non-null  int64
 42  Intensity40   21645 non-null  int64
 43  Intensity41   21645 non-null  int64
 44  Intensity42   21645 non-null  int64
 45  Intensity43   21645 non-null  int64
 46  Intensity44   21645 non-null  int64
 47  Intensity45   21645 non-null  int64
 48  Intensity46   21645 non-null  int64
 49  Intensity47   21645 non-null  int64
 50  Intensity48   21645 non-null  int64
 51  Intensity49   21645 non-null  int64
 52  Intensity50   21645 non-null  int64
 53  Intensity51   21645 non-null  int64
 54  Intensity52   21645 non-null  int64
 55  Intensity53   21645 non-null  int64
 56  Intensity54   21645 non-null  int64
 57  Intensity55   21645 non-null  int64
 58  Intensity56   21645 non-null  int64
 59  Intensity57   21645 non-null  int64
 60  Intensity58   21645 non-null  int64
 61  Intensity59   21645 non-null  int64
dtypes: int64(61), object(1)
memory usage: 10.2+ MB
None
-----------------------------------------------------------
minuteMETsNarrow_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   METs            1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB
None
-----------------------------------------------------------
minuteSleep_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188521 entries, 0 to 188520
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      188521 non-null  int64
 1   date    188521 non-null  object
 2   value   188521 non-null  int64
 3   logId   188521 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.8+ MB
None
-----------------------------------------------------------
minuteStepsNarrow_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Steps           1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB
None
-----------------------------------------------------------
minuteStepsWide_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  object
 2   Steps00       21645 non-null  int64
 3   Steps01       21645 non-null  int64
 4   Steps02       21645 non-null  int64
 5   Steps03       21645 non-null  int64
 6   Steps04       21645 non-null  int64
 7   Steps05       21645 non-null  int64
 8   Steps06       21645 non-null  int64
 9   Steps07       21645 non-null  int64
 10  Steps08       21645 non-null  int64
 11  Steps09       21645 non-null  int64
 12  Steps10       21645 non-null  int64
 13  Steps11       21645 non-null  int64
 14  Steps12       21645 non-null  int64
 15  Steps13       21645 non-null  int64
 16  Steps14       21645 non-null  int64
 17  Steps15       21645 non-null  int64
 18  Steps16       21645 non-null  int64
 19  Steps17       21645 non-null  int64
 20  Steps18       21645 non-null  int64
 21  Steps19       21645 non-null  int64
 22  Steps20       21645 non-null  int64
 23  Steps21       21645 non-null  int64
 24  Steps22       21645 non-null  int64
 25  Steps23       21645 non-null  int64
 26  Steps24       21645 non-null  int64
 27  Steps25       21645 non-null  int64
 28  Steps26       21645 non-null  int64
 29  Steps27       21645 non-null  int64
 30  Steps28       21645 non-null  int64
 31  Steps29       21645 non-null  int64
 32  Steps30       21645 non-null  int64
 33  Steps31       21645 non-null  int64
 34  Steps32       21645 non-null  int64
 35  Steps33       21645 non-null  int64
 36  Steps34       21645 non-null  int64
 37  Steps35       21645 non-null  int64
 38  Steps36       21645 non-null  int64
 39  Steps37       21645 non-null  int64
 40  Steps38       21645 non-null  int64
 41  Steps39       21645 non-null  int64
 42  Steps40       21645 non-null  int64
 43  Steps41       21645 non-null  int64
 44  Steps42       21645 non-null  int64
 45  Steps43       21645 non-null  int64
 46  Steps44       21645 non-null  int64
 47  Steps45       21645 non-null  int64
 48  Steps46       21645 non-null  int64
 49  Steps47       21645 non-null  int64
 50  Steps48       21645 non-null  int64
 51  Steps49       21645 non-null  int64
 52  Steps50       21645 non-null  int64
 53  Steps51       21645 non-null  int64
 54  Steps52       21645 non-null  int64
 55  Steps53       21645 non-null  int64
 56  Steps54       21645 non-null  int64
 57  Steps55       21645 non-null  int64
 58  Steps56       21645 non-null  int64
 59  Steps57       21645 non-null  int64
 60  Steps58       21645 non-null  int64
 61  Steps59       21645 non-null  int64
dtypes: int64(61), object(1)
memory usage: 10.2+ MB
None
-----------------------------------------------------------
sleepDay_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    object
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: int64(4), object(1)
memory usage: 16.3+ KB
None
-----------------------------------------------------------
weightLogInfo_merged
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 3.9+ KB
None

In [6]:
#checking the value range of intensity
display(sorted(Dataframes['hourlyIntensities_merged'].TotalIntensity.unique()))
#viewing dataframe values
for name, df in Dataframes.items():
    print('---------------------------------------------------')
    print(f"{name} ({df.shape[0]} rows, {df.shape[1]} cols)")
    print('---------------------------------------------------')
    display(df.head(100))

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17),
 np.int64(18),
 np.int64(19),
 np.int64(20),
 np.int64(21),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(25),
 np.int64(26),
 np.int64(27),
 np.int64(28),
 np.int64(29),
 np.int64(30),
 np.int64(31),
 np.int64(32),
 np.int64(33),
 np.int64(34),
 np.int64(35),
 np.int64(36),
 np.int64(37),
 np.int64(38),
 np.int64(39),
 np.int64(40),
 np.int64(41),
 np.int64(42),
 np.int64(43),
 np.int64(44),
 np.int64(45),
 np.int64(46),
 np.int64(47),
 np.int64(48),
 np.int64(49),
 np.int64(50),
 np.int64(51),
 np.int64(52),
 np.int64(53),
 np.int64(54),
 np.int64(55),
 np.int64(56),
 np.int64(57),
 np.int64(58),
 np.int64(59),
 np.int64(60),
 np.int64(61),
 np.int64(62),
 np.int64(63),
 np.int64(64),
 np.int64(65),
 np.int64(66),
 np.int64(67),
 np.int64(68),
 np.int64(69),
 np.int64(70),
 np.int64(71),
 np.int64(72),
 np.int64(73),
 np.int64(74),
 np.int64(75),
 np.int64(76),
 np.int64(77),
 np.int64(78),
 np.int64(79),
 np.int64(80),
 np.int64(81),
 np.int64(82),
 np.int64(83),
 np.int64(84),
 np.int64(85),
 np.int64(86),
 np.int64(87),
 np.int64(88),
 np.int64(89),
 np.int64(90),
 np.int64(91),
 np.int64(92),
 np.int64(93),
 np.int64(94),
 np.int64(95),
 np.int64(96),
 np.int64(97),
 np.int64(98),
 np.int64(99),
 np.int64(100),
 np.int64(101),
 np.int64(102),
 np.int64(103),
 np.int64(104),
 np.int64(105),
 np.int64(106),
 np.int64(107),
 np.int64(108),
 np.int64(109),
 np.int64(110),
 np.int64(111),
 np.int64(112),
 np.int64(113),
 np.int64(114),
 np.int64(115),
 np.int64(116),
 np.int64(117),
 np.int64(118),
 np.int64(119),
 np.int64(121),
 np.int64(122),
 np.int64(123),
 np.int64(124),
 np.int64(125),
 np.int64(126),
 np.int64(127),
 np.int64(128),
 np.int64(129),
 np.int64(130),
 np.int64(131),
 np.int64(132),
 np.int64(133),
 np.int64(134),
 np.int64(135),
 np.int64(136),
 np.int64(137),
 np.int64(138),
 np.int64(139),
 np.int64(140),
 np.int64(142),
 np.int64(143),
 np.int64(144),
 np.int64(145),
 np.int64(147),
 np.int64(148),
 np.int64(149),
 np.int64(150),
 np.int64(151),
 np.int64(152),
 np.int64(153),
 np.int64(154),
 np.int64(155),
 np.int64(156),
 np.int64(157),
 np.int64(158),
 np.int64(159),
 np.int64(160),
 np.int64(161),
 np.int64(162),
 np.int64(163),
 np.int64(165),
 np.int64(166),
 np.int64(167),
 np.int64(168),
 np.int64(169),
 np.int64(170),
 np.int64(172),
 np.int64(173),
 np.int64(174),
 np.int64(176),
 np.int64(177),
 np.int64(178),
 np.int64(179),
 np.int64(180)]

---------------------------------------------------
dailyActivity_merged (940 rows, 15 cols)
---------------------------------------------------

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1844505072,4/15/2016,3844,2.54,2.54,0.0,0.00,0.00,2.54,0.0,0,0,176,527,1725
96,1844505072,4/16/2016,3414,2.26,2.26,0.0,0.00,0.00,2.26,0.0,0,0,147,1293,1657
97,1844505072,4/17/2016,4525,2.99,2.99,0.0,0.14,0.26,2.59,0.0,2,8,199,1231,1793
98,1844505072,4/18/2016,4597,3.04,3.04,0.0,0.00,0.48,2.56,0.0,0,12,217,1211,1814
99,1844505072,4/19/2016,197,0.13,0.13,0.0,0.00,0.00,0.13,0.0,0,0,10,1430,1366

---------------------------------------------------
dailyCalories_merged (940 rows, 3 cols)
---------------------------------------------------

            Id ActivityDay  Calories
0   1503960366   4/12/2016      1985
1   1503960366   4/13/2016      1797
2   1503960366   4/14/2016      1776
3   1503960366   4/15/2016      1745
4   1503960366   4/16/2016      1863
..         ...         ...       ...
95  1844505072   4/15/2016      1725
96  1844505072   4/16/2016      1657
97  1844505072   4/17/2016      1793
98  1844505072   4/18/2016      1814
99  1844505072   4/19/2016      1366

[100 rows x 3 columns]

---------------------------------------------------
dailyIntensities_merged (940 rows, 10 cols)
---------------------------------------------------

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
0,1503960366,4/12/2016,728,328,13,25,0.0,6.06,0.55,1.88
1,1503960366,4/13/2016,776,217,19,21,0.0,4.71,0.69,1.57
2,1503960366,4/14/2016,1218,181,11,30,0.0,3.91,0.40,2.44
3,1503960366,4/15/2016,726,209,34,29,0.0,2.83,1.26,2.14
4,1503960366,4/16/2016,773,221,10,36,0.0,5.04,0.41,2.71
...,...,...,...,...,...,...,...,...,...,...
95,1844505072,4/15/2016,527,176,0,0,0.0,2.54,0.00,0.00
96,1844505072,4/16/2016,1293,147,0,0,0.0,2.26,0.00,0.00
97,1844505072,4/17/2016,1231,199,8,2,0.0,2.59,0.26,0.14
98,1844505072,4/18/2016,1211,217,12,0,0.0,2.56,0.48,0.00
99,1844505072,4/19/2016,1430,10,0,0,0.0,0.13,0.00,0.00

---------------------------------------------------
dailySteps_merged (940 rows, 3 cols)
---------------------------------------------------

            Id ActivityDay  StepTotal
0   1503960366   4/12/2016      13162
1   1503960366   4/13/2016      10735
2   1503960366   4/14/2016      10460
3   1503960366   4/15/2016       9762
4   1503960366   4/16/2016      12669
..         ...         ...        ...
95  1844505072   4/15/2016       3844
96  1844505072   4/16/2016       3414
97  1844505072   4/17/2016       4525
98  1844505072   4/18/2016       4597
99  1844505072   4/19/2016        197

[100 rows x 3 columns]

---------------------------------------------------
heartrate_seconds_merged (2483658 rows, 3 cols)
---------------------------------------------------

            Id                  Time  Value
0   2022484408  4/12/2016 7:21:00 AM     97
1   2022484408  4/12/2016 7:21:05 AM    102
2   2022484408  4/12/2016 7:21:10 AM    105
3   2022484408  4/12/2016 7:21:20 AM    103
4   2022484408  4/12/2016 7:21:25 AM    101
..         ...                   ...    ...
95  2022484408  4/12/2016 7:38:25 AM     77
96  2022484408  4/12/2016 7:38:35 AM     76
97  2022484408  4/12/2016 7:38:40 AM     79
98  2022484408  4/12/2016 7:38:55 AM     79
99  2022484408  4/12/2016 7:39:10 AM     81

[100 rows x 3 columns]

---------------------------------------------------
hourlyCalories_merged (22099 rows, 3 cols)
---------------------------------------------------

            Id           ActivityHour  Calories
0   1503960366  4/12/2016 12:00:00 AM        81
1   1503960366   4/12/2016 1:00:00 AM        61
2   1503960366   4/12/2016 2:00:00 AM        59
3   1503960366   4/12/2016 3:00:00 AM        47
4   1503960366   4/12/2016 4:00:00 AM        48
..         ...                    ...       ...
95  1503960366  4/15/2016 11:00:00 PM       182
96  1503960366  4/16/2016 12:00:00 AM        77
97  1503960366   4/16/2016 1:00:00 AM        48
98  1503960366   4/16/2016 2:00:00 AM        52
99  1503960366   4/16/2016 3:00:00 AM        48

[100 rows x 3 columns]

---------------------------------------------------
hourlyIntensities_merged (22099 rows, 4 cols)
---------------------------------------------------

            Id           ActivityHour  TotalIntensity  AverageIntensity
0   1503960366  4/12/2016 12:00:00 AM              20          0.333333
1   1503960366   4/12/2016 1:00:00 AM               8          0.133333
2   1503960366   4/12/2016 2:00:00 AM               7          0.116667
3   1503960366   4/12/2016 3:00:00 AM               0          0.000000
4   1503960366   4/12/2016 4:00:00 AM               0          0.000000
..         ...                    ...             ...               ...
95  1503960366  4/15/2016 11:00:00 PM              95          1.583333
96  1503960366  4/16/2016 12:00:00 AM              15          0.250000
97  1503960366   4/16/2016 1:00:00 AM               0          0.000000
98  1503960366   4/16/2016 2:00:00 AM               3          0.050000
99  1503960366   4/16/2016 3:00:00 AM               1          0.016667

[100 rows x 4 columns]

---------------------------------------------------
hourlySteps_merged (22099 rows, 3 cols)
---------------------------------------------------

            Id           ActivityHour  StepTotal
0   1503960366  4/12/2016 12:00:00 AM        373
1   1503960366   4/12/2016 1:00:00 AM        160
2   1503960366   4/12/2016 2:00:00 AM        151
3   1503960366   4/12/2016 3:00:00 AM          0
4   1503960366   4/12/2016 4:00:00 AM          0
..         ...                    ...        ...
95  1503960366  4/15/2016 11:00:00 PM       2768
96  1503960366  4/16/2016 12:00:00 AM        459
97  1503960366   4/16/2016 1:00:00 AM          0
98  1503960366   4/16/2016 2:00:00 AM         63
99  1503960366   4/16/2016 3:00:00 AM          6

[100 rows x 3 columns]

---------------------------------------------------
minuteCaloriesNarrow_merged (1325580 rows, 3 cols)
---------------------------------------------------

            Id         ActivityMinute  Calories
0   1503960366  4/12/2016 12:00:00 AM    0.7865
1   1503960366  4/12/2016 12:01:00 AM    0.7865
2   1503960366  4/12/2016 12:02:00 AM    0.7865
3   1503960366  4/12/2016 12:03:00 AM    0.7865
4   1503960366  4/12/2016 12:04:00 AM    0.7865
..         ...                    ...       ...
95  1503960366   4/12/2016 1:35:00 AM    0.7865
96  1503960366   4/12/2016 1:36:00 AM    0.7865
97  1503960366   4/12/2016 1:37:00 AM    0.7865
98  1503960366   4/12/2016 1:38:00 AM    0.7865
99  1503960366   4/12/2016 1:39:00 AM    0.7865

[100 rows x 3 columns]

---------------------------------------------------
minuteCaloriesWide_merged (21645 rows, 62 cols)
---------------------------------------------------

,Id,ActivityHour,Calories00,Calories01,Calories02,Calories03,Calories04,Calories05,Calories06,Calories07,...,Calories50,Calories51,Calories52,Calories53,Calories54,Calories55,Calories56,Calories57,Calories58,Calories59
0,1503960366,4/13/2016 12:00:00 AM,1.8876,2.2022,0.9438,0.9438,0.9438,2.0449,0.9438,2.2022,...,0.9438,2.0449,2.0449,0.9438,2.3595,1.8876,0.9438,0.9438,0.9438,0.9438
1,1503960366,4/13/2016 1:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.9438,0.9438,0.9438,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
2,1503960366,4/13/2016 2:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
3,1503960366,4/13/2016 3:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
4,1503960366,4/13/2016 4:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1503960366,4/16/2016 11:00:00 PM,0.9438,0.7865,0.7865,0.7865,0.9438,0.9438,0.9438,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
96,1503960366,4/17/2016 12:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
97,1503960366,4/17/2016 1:00:00 AM,0.7865,0.7865,0.9438,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
98,1503960366,4/17/2016 2:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
99,1503960366,4/17/2016 3:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.9438

---------------------------------------------------
minuteIntensitiesNarrow_merged (1325580 rows, 3 cols)
---------------------------------------------------

            Id         ActivityMinute  Intensity
0   1503960366  4/12/2016 12:00:00 AM          0
1   1503960366  4/12/2016 12:01:00 AM          0
2   1503960366  4/12/2016 12:02:00 AM          0
3   1503960366  4/12/2016 12:03:00 AM          0
4   1503960366  4/12/2016 12:04:00 AM          0
..         ...                    ...        ...
95  1503960366   4/12/2016 1:35:00 AM          0
96  1503960366   4/12/2016 1:36:00 AM          0
97  1503960366   4/12/2016 1:37:00 AM          0
98  1503960366   4/12/2016 1:38:00 AM          0
99  1503960366   4/12/2016 1:39:00 AM          0

[100 rows x 3 columns]

---------------------------------------------------
minuteIntensitiesWide_merged (21645 rows, 62 cols)
---------------------------------------------------

,Id,ActivityHour,Intensity00,Intensity01,Intensity02,Intensity03,Intensity04,Intensity05,Intensity06,Intensity07,...,Intensity50,Intensity51,Intensity52,Intensity53,Intensity54,Intensity55,Intensity56,Intensity57,Intensity58,Intensity59
0,1503960366,4/13/2016 12:00:00 AM,1,1,0,0,0,1,0,1,...,0,1,1,0,1,1,0,0,0,0
1,1503960366,4/13/2016 1:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1503960366,4/13/2016 2:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1503960366,4/13/2016 3:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1503960366,4/13/2016 4:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1503960366,4/16/2016 11:00:00 PM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,1503960366,4/17/2016 12:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,1503960366,4/17/2016 1:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,1503960366,4/17/2016 2:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,1503960366,4/17/2016 3:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---------------------------------------------------
minuteMETsNarrow_merged (1325580 rows, 3 cols)
---------------------------------------------------

            Id         ActivityMinute  METs
0   1503960366  4/12/2016 12:00:00 AM    10
1   1503960366  4/12/2016 12:01:00 AM    10
2   1503960366  4/12/2016 12:02:00 AM    10
3   1503960366  4/12/2016 12:03:00 AM    10
4   1503960366  4/12/2016 12:04:00 AM    10
..         ...                    ...   ...
95  1503960366   4/12/2016 1:35:00 AM    10
96  1503960366   4/12/2016 1:36:00 AM    10
97  1503960366   4/12/2016 1:37:00 AM    10
98  1503960366   4/12/2016 1:38:00 AM    10
99  1503960366   4/12/2016 1:39:00 AM    10

[100 rows x 3 columns]

---------------------------------------------------
minuteSleep_merged (188521 rows, 4 cols)
---------------------------------------------------

            Id                  date  value        logId
0   1503960366  4/12/2016 2:47:30 AM      3  11380564589
1   1503960366  4/12/2016 2:48:30 AM      2  11380564589
2   1503960366  4/12/2016 2:49:30 AM      1  11380564589
3   1503960366  4/12/2016 2:50:30 AM      1  11380564589
4   1503960366  4/12/2016 2:51:30 AM      1  11380564589
..         ...                   ...    ...          ...
95  1503960366  4/12/2016 4:22:30 AM      1  11380564589
96  1503960366  4/12/2016 4:23:30 AM      1  11380564589
97  1503960366  4/12/2016 4:24:30 AM      1  11380564589
98  1503960366  4/12/2016 4:25:30 AM      1  11380564589
99  1503960366  4/12/2016 4:26:30 AM      1  11380564589

[100 rows x 4 columns]

---------------------------------------------------
minuteStepsNarrow_merged (1325580 rows, 3 cols)
---------------------------------------------------

            Id         ActivityMinute  Steps
0   1503960366  4/12/2016 12:00:00 AM      0
1   1503960366  4/12/2016 12:01:00 AM      0
2   1503960366  4/12/2016 12:02:00 AM      0
3   1503960366  4/12/2016 12:03:00 AM      0
4   1503960366  4/12/2016 12:04:00 AM      0
..         ...                    ...    ...
95  1503960366   4/12/2016 1:35:00 AM      0
96  1503960366   4/12/2016 1:36:00 AM      0
97  1503960366   4/12/2016 1:37:00 AM      0
98  1503960366   4/12/2016 1:38:00 AM      0
99  1503960366   4/12/2016 1:39:00 AM      0

[100 rows x 3 columns]

---------------------------------------------------
minuteStepsWide_merged (21645 rows, 62 cols)
---------------------------------------------------

,Id,ActivityHour,Steps00,Steps01,Steps02,Steps03,Steps04,Steps05,Steps06,Steps07,...,Steps50,Steps51,Steps52,Steps53,Steps54,Steps55,Steps56,Steps57,Steps58,Steps59
0,1503960366,4/13/2016 12:00:00 AM,4,16,0,0,0,9,0,17,...,0,9,8,0,20,1,0,0,0,0
1,1503960366,4/13/2016 1:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1503960366,4/13/2016 2:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1503960366,4/13/2016 3:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1503960366,4/13/2016 4:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1503960366,4/16/2016 11:00:00 PM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,1503960366,4/17/2016 12:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,1503960366,4/17/2016 1:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,1503960366,4/17/2016 2:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,1503960366,4/17/2016 3:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---------------------------------------------------
sleepDay_merged (413 rows, 5 cols)
---------------------------------------------------

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,4/12/2016 12:00:00 AM,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712
...,...,...,...,...,...
95,3977333714,4/26/2016 12:00:00 AM,1,250,371
96,3977333714,4/27/2016 12:00:00 AM,1,349,540
97,3977333714,4/28/2016 12:00:00 AM,1,261,423
98,3977333714,4/29/2016 12:00:00 AM,1,333,478
99,3977333714,4/30/2016 12:00:00 AM,1,237,382

---------------------------------------------------
weightLogInfo_merged (67 rows, 8 cols)
---------------------------------------------------

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000
...,...,...,...,...,...,...,...,...
62,8877689391,5/6/2016 6:43:35 AM,85.000000,187.392923,NaN,25.440001,False,1462517015000
63,8877689391,5/8/2016 7:35:53 AM,85.400002,188.274775,NaN,25.559999,False,1462692953000
64,8877689391,5/9/2016 6:39:44 AM,85.500000,188.495234,NaN,25.610001,False,1462775984000
65,8877689391,5/11/2016 6:51:47 AM,85.400002,188.274775,NaN,25.559999,False,1462949507000
66,8877689391,5/12/2016 6:42:53 AM,84.000000,185.188300,NaN,25.139999,False,1463035373000

BUILDING RELATIONAL TABLES

In [7]:
conn = sqlite3.connect('../Data/fitbitdata.db')

Daily_Log_df = build_Daily_Log(Dataframes['dailyActivity_merged'].copy())
Quick_df_Check('Activity Log',Daily_Log_df)

Sleep_Log_df = build_Sleep_Log(Dataframes['sleepDay_merged'].copy())
Quick_df_Check('Sleep Log',Sleep_Log_df)

Weight_Log_df = build_Weight_Log(Dataframes['weightLogInfo_merged'].copy())
Quick_df_Check('Weight Log', Weight_Log_df)

Heartrate_Log_df = build_Heartrate_Log(Dataframes['heartrate_seconds_merged'].copy())
Quick_df_Check('Heartrate Log',Heartrate_Log_df)

Hourly_Intensity_df = build_Hourly_Intensity_Log(Dataframes['hourlyIntensities_merged'].copy())
Quick_df_Check('Hourly Intensity',Hourly_Intensity_df)

Daily_Log_df.to_sql('Daily_Activity', conn, index = False, if_exists='replace')
Sleep_Log_df.to_sql('Sleep_Log', conn, index = False, if_exists='replace')
Weight_Log_df.to_sql('Weight_Log', conn, index = False, if_exists='replace')
Heartrate_Log_df.to_sql('Heartrate_Log', conn, index = False, if_exists='replace')
Hourly_Intensity_df.to_sql('Hourly_Intensity', conn, index = False, if_exists='replace')
conn.commit()

---Activity Log---

,Id,ActivityDate,TotalSteps,TotalDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-04-12,13162,8.50,1.88,0.55,6.06,25,13,328,728,1985
1,1503960366,2016-04-13,10735,6.97,1.57,0.69,4.71,21,19,217,776,1797
2,1503960366,2016-04-14,10460,6.74,2.44,0.40,3.91,30,11,181,1218,1776
3,1503960366,2016-04-15,9762,6.28,2.14,1.26,2.83,29,34,209,726,1745
4,1503960366,2016-04-16,12669,8.16,2.71,0.41,5.04,36,10,221,773,1863

-----info-----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   VeryActiveDistance        940 non-null    float64
 5   ModeratelyActiveDistance  940 non-null    float64
 6   LightActiveDistance       940 non-null    float64
 7   VeryActiveMinutes         940 non-null    int64
 8   FairlyActiveMinutes       940 non-null    int64
 9   LightlyActiveMinutes      940 non-null    int64
 10  SedentaryMinutes          940 non-null    int64
 11  Calories                  940 non-null    int64
dtypes: float64(4), int64(7), object(1)
memory usage: 88.3+ KB
None
-----duplicated-----
0
-----isnull-----
Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64
-----isNa-----
Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64
---Sleep Log---

C:\Users\migue\AppData\Local\Temp\ipykernel_18644\2043128897.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  src['SleepDay'] = pd.to_datetime(src['SleepDay'],errors='coerce')

           Id        Date  MinutesAsleep  TimeInBed
0  1503960366  2016-04-12            327        346
1  1503960366  2016-04-13            384        407
2  1503960366  2016-04-15            412        442
3  1503960366  2016-04-16            340        367
4  1503960366  2016-04-17            700        712

-----info-----
<class 'pandas.core.frame.DataFrame'>
Index: 410 entries, 0 to 412
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             410 non-null    int64
 1   Date           410 non-null    object
 2   MinutesAsleep  410 non-null    int64
 3   TimeInBed      410 non-null    int64
dtypes: int64(3), object(1)
memory usage: 16.0+ KB
None
-----duplicated-----
0
-----isnull-----
Id               0
Date             0
MinutesAsleep    0
TimeInBed        0
dtype: int64
-----isNa-----
Id               0
Date             0
MinutesAsleep    0
TimeInBed        0
dtype: int64
---Weight Log---

C:\Users\migue\AppData\Local\Temp\ipykernel_18644\2043128897.py:33: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  src['Date'] = pd.to_datetime(src['Date'], errors ='coerce')

           Id        Date  WeightPounds    BMI
0  1503960366  2016-05-02        115.96  22.65
1  1503960366  2016-05-03        115.96  22.65
2  1927972279  2016-04-13        294.32  47.54
3  2873212765  2016-04-21        125.00  21.45
4  2873212765  2016-05-12        126.32  21.69

-----info-----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            67 non-null     int64
 1   Date          67 non-null     object
 2   WeightPounds  67 non-null     float64
 3   BMI           67 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2+ KB
None
-----duplicated-----
0
-----isnull-----
Id              0
Date            0
WeightPounds    0
BMI             0
dtype: int64
-----isNa-----
Id              0
Date            0
WeightPounds    0
BMI             0
dtype: int64
---Heartrate Log---

           Id        Date                Time  Heartrate
0  2022484408  2016-04-12 2016-04-12 07:21:00         97
1  2022484408  2016-04-12 2016-04-12 07:21:05        102
2  2022484408  2016-04-12 2016-04-12 07:21:10        105
3  2022484408  2016-04-12 2016-04-12 07:21:20        103
4  2022484408  2016-04-12 2016-04-12 07:21:25        101

-----info-----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   Id         int64
 1   Date       object
 2   Time       datetime64[ns]
 3   Heartrate  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 75.8+ MB
None
-----duplicated-----
0
-----isnull-----
Id           0
Date         0
Time         0
Heartrate    0
dtype: int64
-----isNa-----
Id           0
Date         0
Time         0
Heartrate    0
dtype: int64

C:\Users\migue\AppData\Local\Temp\ipykernel_18644\2043128897.py:60: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  src['ActivityHour'] = pd.to_datetime(src['ActivityHour'], errors = 'coerce')

---Hourly Intensity---

           Id        Date        ActivityHour  Intensity
0  1503960366  2016-04-12 2016-04-12 00:00:00         20
1  1503960366  2016-04-12 2016-04-12 01:00:00          8
2  1503960366  2016-04-12 2016-04-12 02:00:00          7
8  1503960366  2016-04-12 2016-04-12 08:00:00         13
9  1503960366  2016-04-12 2016-04-12 09:00:00         30

-----info-----
<class 'pandas.core.frame.DataFrame'>
Index: 13002 entries, 0 to 22098
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            13002 non-null  int64
 1   Date          13002 non-null  object
 2   ActivityHour  13002 non-null  datetime64[ns]
 3   Intensity     13002 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 507.9+ KB
None
-----duplicated-----
0
-----isnull-----
Id              0
Date            0
ActivityHour    0
Intensity       0
dtype: int64
-----isNa-----
Id              0
Date            0
ActivityHour    0
Intensity       0
dtype: int64

In [8]:
query1 = """
    SELECT *
    FROM Daily_Activity;
    """
result1 = pd.read_sql(query1, conn)
result1

,Id,ActivityDate,TotalSteps,TotalDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-04-12,13162,8.50,1.88,0.55,6.06,25,13,328,728,1985
1,1503960366,2016-04-13,10735,6.97,1.57,0.69,4.71,21,19,217,776,1797
2,1503960366,2016-04-14,10460,6.74,2.44,0.40,3.91,30,11,181,1218,1776
3,1503960366,2016-04-15,9762,6.28,2.14,1.26,2.83,29,34,209,726,1745
4,1503960366,2016-04-16,12669,8.16,2.71,0.41,5.04,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,2016-05-08,10686,8.11,1.08,0.20,6.80,17,4,245,1174,2847
936,8877689391,2016-05-09,20226,18.25,11.10,0.80,6.24,73,19,217,1131,3710
937,8877689391,2016-05-10,10733,8.15,1.35,0.46,6.28,18,11,224,1187,2832
938,8877689391,2016-05-11,21420,19.56,13.22,0.41,5.89,88,12,213,1127,3832
939,8877689391,2016-05-12,8064,6.12,1.82,0.04,4.25,23,1,137,770,1849

In [9]:
query2 = """
    SELECT *
    FROM Sleep_Log;
    """
result2 = pd.read_sql(query2, conn)
result2

             Id        Date  MinutesAsleep  TimeInBed
0    1503960366  2016-04-12            327        346
1    1503960366  2016-04-13            384        407
2    1503960366  2016-04-15            412        442
3    1503960366  2016-04-16            340        367
4    1503960366  2016-04-17            700        712
..          ...         ...            ...        ...
405  8792009665  2016-04-30            343        360
406  8792009665  2016-05-01            503        527
407  8792009665  2016-05-02            415        423
408  8792009665  2016-05-03            516        545
409  8792009665  2016-05-04            439        463

[410 rows x 4 columns]